<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'news/login.css' %}"/>
</head>
<body>
<div class="login-div">
        <ul>
          <li><a class="Active" href="/">Home</a></li>
          <li><a href="/signup">Register</a></li>
        </ul>
  <h1> Log In </h1>
  <div>
    {% if messages %} {% for message in messages %}
    <div class="msg-container">{{message}}</div>
    {%endfor%} {%endif%}
  </div>
    <form action="signin" method="post">
        {% csrf_token %}
            <div class="fields">
                <div class="username">
                    <img class="user-icon" src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png"/>
                    <input type="text" class="user-input" name="username" id="username" placeholder="username" Required >
                </div>
                <div class="password">
                    <img class="pass-icon" src="https://img.icons8.com/material-outlined/30/000000/password.png"/>
                    <input type="password" class="pass-input" name="pass1" id="pass1" placeholder="Password" Required >
                </div>
            </div>
            <button type="submit" class="signin-button">SignIn</button>
            
    </form>
</div>
</body>
</html>